@inherits MenuItem;

@if (ChildContent is not null)
{
    <div @attributes="InputAttributes"
            class="@ActiveCss @IndividualClass"
            @onclick="OnClick"
            @onmouseover="Activate"
            @onmouseout="DeActivate">
        @ChildContent
    </div>
}
