div {
    color: var(--text-color);
    text-decoration: none;
    display: block;
    background-color: transparent;
    cursor: pointer;
    margin: 0.25rem;
    padding: 0.25rem;
    white-space: nowrap;
}

    div:hover {
        text-decoration: underline;
        color: var(--hover-color);
    }
