@inherits MenuItem;

@if (ChildContent is not null)
{
    <div @attributes="InputAttributes" 
        style="
            --text-color: @TextColor;
            --hover-color: @HoverColor;
            background-color: @BackgroundColor;
            @GeneralStyle; 
            @IndividualStyle"
        class="
            @GeneralClass
            @IndividualClass"
        @onclick="NavigateIfLinkPassed">
        @ChildContent
    </div>
}
