@inherits MenuItem;

@if (ChildContent is not null)
{
    <div @attributes="InputAttributes" style="--bg-color : @BackgroundColor; --hover-color: @HoverColor; @Style">
        @ChildContent
    </div>
}
