<div class="dropdown">
    @if (Head is not null)
    {
        <div @onclick="ToggleVisibility">
            @Head        
        </div>
    }
    @if (Content is not null)
    {
        <div class="@Visivility dropdown-content">
            @Content
        </div>
    }
</div>

@code {
    protected string Visivility = "";

    [Parameter]
    public RenderFragment? Head { get; set; }

    [Parameter]
    public RenderFragment? Content { get; set; }

    protected void ToggleVisibility()
    {
        Visivility = Visivility == ""
            ? "showed"
            : "";
    }
}
