@using WednumiComponents.Menu.Containers

<div class="dropdown">
    @if (Head is not null)
    {
        <div @onclick="HeadClick">
            @Head        
        </div>
    }
    @if (Content is not null)
    {
        <div class="@Visivility dropdown-content" style="right: @RightCss">
            @Content
        </div>
    }
</div>

@code {
    protected string Visivility = "";

    [Parameter]
    public RenderFragment? Head { get; set; }

    [Parameter]
    public RenderFragment? Content { get; set; }

    [Parameter]
    public string? Alignment { get; set; }

    protected int RightCss
    {
        get
        {
            var value = Alignment == "right"
                ? 0
                : 1;
            return value;
        }
    }

    protected void HeadClick()
    {
        Visivility = Visivility == ""
            ? "showed"
            : "";
    }
}
