@using WednumiComponents.Menu.Containers

<div class="dropdown">
    @if (Head is not null)
    {
        <div @onclick="HeadClick">
            @Head        
        </div>
    }
    @if (Content is not null)
    {
        <div class="@Visivility dropdown-content" style="right: @RightCss">
            <FloatingContainer InputAttributes=@InputAttributes>
                @Content
            </FloatingContainer>
        </div>
    }
</div>

@code {
    private string Visivility = "";

    [Parameter]
    public RenderFragment? Head { get; set; }

    [Parameter]
    public RenderFragment? Content { get; set; }

    [Parameter]
    public string? Alignment { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> InputAttributes { get; set; } = new Dictionary<string, object>();

    private int RightCss
    {
        get
        {
            var value = Alignment == "right"
                ? 0
                : 1;
            return value;
        }
    }

    private void HeadClick()
    {
        Visivility = Visivility == ""
            ? "clicked-content"
            : "";
    }
}
