@inherits DropDown

<div class="dropdown" @onclick="ToggleVisibility" @onmouseover="Show" @onmouseout="Hide">
    @if (Head is not null)
    {
        <div>
            @Head
        </div>
    }
    @if (Content is not null)
    {
        <div class="@Visivility dropdown-content">
            @Content
        </div>
    }
</div>

@code {
    protected void Show()
    {
        Visivility = "showed";
    }

    protected void Hide()
    {
        Visivility = "";
    }
}
