<div @attributes="InputAttributes">
    <CascadingValue Name="BackgroundColor" Value="ItemBackgroundColor">
        <CascadingValue Name="HoverColor" Value="ItemHoverColor">
            <CascadingValue Name="TextColor" Value="TextColor">
                <CascadingValue Name="Style" Value="ItemStyle">
                    <CascadingValue Name="Class" Value="ItemClass">
                        @ChildContent
                    </CascadingValue>
                </CascadingValue>
            </CascadingValue>
        </CascadingValue>
    </CascadingValue>
</div>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string? ItemBackgroundColor { get; set; }

    [Parameter]
    public string? TextColor { get; set; }

    [Parameter]
    public string? ItemHoverColor { get; set; }

    [Parameter]
    public string? ItemClass { get; set; }

    [Parameter]
    public string? ItemStyle { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> InputAttributes { get; set; } = new Dictionary<string, object>();
}

