@inherits FloatingContainer

<div @attributes="InputAttributes" style="background-color: @BackgroundColor; @Style">
    <CascadingValue Name="BackgroundColor" Value="@BackgroundColor">
        <CascadingValue Name="HoverColor" Value="@ItemHoverColor">
            @ChildContent
        </CascadingValue>
    </CascadingValue>

</div>

@code {
    [Parameter]
    public string? ItemHoverColor { get; set; }
}
