@page "/"

@using WednumiComponents.Menu.Items
@using WednumiComponents.Menu

<PageTitle>Index</PageTitle>

<div class="d-flex justify-content-end">
    <DropDown Alignment="right" class="bg-danger" style="border-radius: 10px">
        <Head>
            <div class="btn btn-primary">click</div>
        </Head>
        <Content>
            <SoftMenuItem BackgroundColor="yellow" HoverColor="black" class="rounded-3">SoftMenuItem</SoftMenuItem>
            <SoftMenuItem style="border:1px solid red" class="rounded-3" BackgroundColor="yellow">SoftMenuItem</SoftMenuItem>
            <SoftMenuItem BackgroundColor="blue" HoverColor="red">SoftMenuItem</SoftMenuItem>
        </Content>
    </DropDown>
</div>

