@using WednumiComponents.Menu
@using WednumiComponents.Menu.Items

<PreviewContainer>
    <Name>MenuItem</Name>
    <SubName>Color</SubName>
    <Example>
        <div class="menu-items1 d-flex flex-row">
            <span class="some-menu-item1"><MenuItem>Item1</MenuItem></span>
            <MenuItem>Item2</MenuItem>
            <MenuItem>Item3</MenuItem>
            <MenuItem>Item4</MenuItem>
        </div>
    </Example>
    <Razor>
&lt;div class="menu-items1 d-flex flex-row">
    &lt;span class="some-menu-item1">&lt;MenuItem>Item1&lt;/MenuItem>&lt;/span>
    &lt;MenuItem>Item2&lt;/MenuItem>
    &lt;MenuItem>Item3&lt;/MenuItem>
    &lt;MenuItem>Item4&lt;/MenuItem>
&lt;/div>
    </Razor>
    <Css>
.menu-items1 ::deep div {
    border-radius: 0.25rem;
    --bg-color: gray;
    --hover-color: red;
}

.some-menu-item1 ::deep div{
    --bg-color: blue;
}
    </Css>
</PreviewContainer>

<PreviewContainer>
    <Name>MenuItem</Name>
    <SubName>Brightness</SubName>
    <Example>
        <div class="menu-items2 d-flex flex-row">
            <MenuItem>Item1</MenuItem>
            <MenuItem>Item2</MenuItem>
            <MenuItem>Item3</MenuItem>
            <MenuItem>Item4</MenuItem>
        </div>
    </Example>
    <Razor>
&lt;div class="menu-items2 d-flex flex-row">
    &lt;MenuItem>Item1&lt;/MenuItem>
    &lt;MenuItem>Item2&lt;/MenuItem>
    &lt;MenuItem>Item3&lt;/MenuItem>
    &lt;MenuItem>Item4&lt;/MenuItem>
&lt;/div>
    </Razor>
    <Css>
.menu-items2 ::deep div {
    border-radius: 0.25rem;
    --bg-color: gray;
    --hover-color: gray;
    --hover-brightness: 0.9;
}
    </Css>
</PreviewContainer>

<PreviewContainer>
    <Name>UnderscoredMenuItem</Name>
    <Example>
        <div class="menu-items3 d-flex flex-row">
            <UnderscoredMenuItem>Item1</UnderscoredMenuItem>
            <UnderscoredMenuItem>Item2</UnderscoredMenuItem>
            <UnderscoredMenuItem>Item3</UnderscoredMenuItem>
            <UnderscoredMenuItem>Item4</UnderscoredMenuItem>
        </div>
    </Example>
    <Razor>
&lt;div class="menu-items3 d-flex flex-row">
    &lt;UnderscoredMenuItem>Item1&lt;/UnderscoredMenuItem>
    &lt;UnderscoredMenuItem>Item2&lt;/UnderscoredMenuItem>
    &lt;UnderscoredMenuItem>Item3&lt;/UnderscoredMenuItem>
    &lt;UnderscoredMenuItem>Item4&lt;/UnderscoredMenuItem>
&lt;/div>
    </Razor>
    <Css>
.menu-items3 ::deep div {
    border-radius: 0.25rem;
    --hover-color: red;
}
    </Css>
</PreviewContainer>

<PreviewContainer>
    <Name>DropDown</Name>
    <SubName>Styled</SubName>
    <Example>
        <div class="dropdown-menu1">
            <DropDown>
                <Head>
                    <button class="btn btn-primary">click</button>
                </Head>
                <Content>
                    <div class="menu-items3">
                        <UnderscoredMenuItem>drop item1</UnderscoredMenuItem>
                        <UnderscoredMenuItem>drop item2</UnderscoredMenuItem>
                        <UnderscoredMenuItem>drop item3</UnderscoredMenuItem>
                        <UnderscoredMenuItem>drop item4</UnderscoredMenuItem>
                    </div>
                </Content>
            </DropDown>
        </div>
    </Example>
    <Razor>
&lt;div class="dropdown-menu1">
    &lt;DropDown>
        &lt;Head>
            &lt;button class="btn btn-primary">click&lt;/button>
        &lt;/Head>
        &lt;Content>
            &lt;div class="menu-items3">
                &lt;UnderscoredMenuItem>drop item1&lt;/UnderscoredMenuItem>
                &lt;UnderscoredMenuItem>drop item2&lt;/UnderscoredMenuItem>
                &lt;UnderscoredMenuItem>drop item3&lt;/UnderscoredMenuItem>
                &lt;UnderscoredMenuItem>drop item4&lt;/UnderscoredMenuItem>
            &lt;/div>
        &lt;/Content>
    &lt;/DropDown>
&lt;/div>
    </Razor>
    <Css>
.menu-items3 ::deep div {
    border-radius: 0.25rem;
    --hover-color: red;
}

.dropdown-menu1 ::deep .dropdown-content {
    background-color: #f9f9f9;
    box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.2);
    padding: 0.25rem;
}
    </Css>
</PreviewContainer>

                <PreviewContainer>
    <Name>DropDown</Name>
    <SubName>Styled Right</SubName>
    <Example>
        <div class="dropdown-menu2">
            <DropDown>
                <Head>
                    <button class="btn btn-primary">click</button>
                </Head>
                <Content>
                    <div class="menu-items3">
                        <UnderscoredMenuItem>drop item1</UnderscoredMenuItem>
                        <UnderscoredMenuItem>drop item2</UnderscoredMenuItem>
                        <UnderscoredMenuItem>drop item3</UnderscoredMenuItem>
                        <UnderscoredMenuItem>drop item4</UnderscoredMenuItem>
                    </div>
                </Content>
            </DropDown>
        </div>
    </Example>
    <Razor>
&lt;div class="dropdown-menu2">
    &lt;DropDown>
        &lt;Head>
            &lt;button class="btn btn-primary">click&lt;/button>
        &lt;/Head>
        &lt;Content>
            &lt;div class="menu-items3">
                &lt;UnderscoredMenuItem>drop item1&lt;/UnderscoredMenuItem>
                &lt;UnderscoredMenuItem>drop item2&lt;/UnderscoredMenuItem>
                &lt;UnderscoredMenuItem>drop item3&lt;/UnderscoredMenuItem>
                &lt;UnderscoredMenuItem>drop item4&lt;/UnderscoredMenuItem>
            &lt;/div>
        &lt;/Content>
    &lt;/DropDown>
&lt;/div>
    </Razor>
    <Css>
.dropdown-menu2 ::deep .dropdown-content {
    background-color: #f9f9f9;
    box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.2);
    padding: 0.25rem;

    right: 0;

}
    </Css>
</PreviewContainer>

<PreviewContainer>
    <Name>HoverDrop</Name>
    <SubName>Styled</SubName>
    <Example>
        <div class="dropdown-menu1">
            <HoverDrop>
                <Head>
                    <button class="btn btn-primary">hover</button>
                </Head>
                <Content>
                    <div class="menu-items3">
                        <UnderscoredMenuItem>drop item1</UnderscoredMenuItem>
                        <UnderscoredMenuItem>drop item2</UnderscoredMenuItem>
                        <UnderscoredMenuItem>drop item3</UnderscoredMenuItem>
                        <UnderscoredMenuItem>drop item4</UnderscoredMenuItem>
                    </div>
                </Content>
            </HoverDrop>
        </div>
    </Example>
    <Razor>
&lt;div class="dropdown-menu1">
    &lt;HoverDrop>
        &lt;Head>
            &lt;button class="btn btn-primary">click&lt;/button>
        &lt;/Head>
        &lt;Content>
            &lt;div class="menu-items3">
                &lt;UnderscoredMenuItem>drop item1&lt;/UnderscoredMenuItem>
                &lt;UnderscoredMenuItem>drop item2&lt;/UnderscoredMenuItem>
                &lt;UnderscoredMenuItem>drop item3&lt;/UnderscoredMenuItem>
                &lt;UnderscoredMenuItem>drop item4&lt;/UnderscoredMenuItem>
            &lt;/div>
        &lt;/Content>
    &lt;/HoverDrop>
&lt;/div>
    </Razor>
    <Css>
.menu-items3 ::deep div {
    border-radius: 0.25rem;
    --hover-color: red;
}

.dropdown-menu1 ::deep .dropdown-content {
    background-color: #f9f9f9;
    box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.2);
    padding: 0.25rem;
}
    </Css>
</PreviewContainer>