.menu-items1 ::deep div {
    border-radius: 0.25rem;
    --bg-color: gray;
    --hover-color: red;
}

.some-menu-item1 ::deep div{
    --bg-color: blue;
}

.menu-items2 ::deep div {
    border-radius: 0.25rem;
    --bg-color: gray;
    --hover-color: gray;
    --hover-brightness: 0.9;
}

.menu-items3 ::deep div {
    border-radius: 0.25rem;
    --hover-color: red;
}

.dropdown-menu1 ::deep .dropdown-content {
    background-color: #f9f9f9;
    box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.2);
    padding: 0.25rem;
}

.dropdown-menu2 ::deep .dropdown-content {
    background-color: #f9f9f9;
    box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.2);
    padding: 0.25rem;
    right: 0;
}