@using WednumiComponents.Menu
@using WednumiComponents.Menu.Containers
@using WednumiComponents.Menu.Items

<h2>AllComponents</h2>
<br />
<br />
<h4>Containers and items</h4>
<br />

<h5>FloatingContainer</h5>

<div class="row">
    <div class="preview-container">
        <div class="example">
            <FloatingContainer>
                content
            </FloatingContainer>
        </div>
        <pre>
&lt;FloatingContainer>
    content
&lt;/FloatingContainer>
        </pre>
    </div>

    <div class="preview-container">
        <div class="example">
            <FloatingContainer BackgroundColor="gray"
                               class="p-5 d-flex" style="border-radius: 10px">
                content
            </FloatingContainer>
        </div>
        <pre>
&lt;FloatingContainer BackgroundColor="gray"
    class="p-5" style="border-radius: 10px">
    content
&lt;/FloatingContainer>
        </pre>
    </div>
</div>

<h5>MenuContainer</h5>

<div class="row">
    <div class="preview-container">
        <div class="example">
            <MenuContainer>
                <MenuItem>menu item1</MenuItem>
                <MenuItem>menu item2</MenuItem>
                <MenuItem>menu item3</MenuItem>
            </MenuContainer>
        </div>
        <pre>
&lt;MenuContainer>
    &lt;MenuItem>menu item1&lt;/MenuItem>
    &lt;MenuItem>menu item2&lt;/MenuItem>
    &lt;MenuItem>menu item3&lt;/MenuItem>
&lt;/MenuContainer>
        </pre>
    </div>

    <div class="preview-container">
        <div class="example">
            <MenuContainer BackgroundColor="darkgray" ItemHoverColor="gray" class="rounded-2">
                <MenuItem class="rounded-2">menu item1</MenuItem>
                <MenuItem class="rounded-2">menu item2</MenuItem>
                <MenuItem class="rounded-2">menu item3</MenuItem>
            </MenuContainer>
        </div>
        <pre>
&lt;MenuContainer BackgroundColor="darkgray" ItemHoverColor="gray" class="rounded-2">
    &lt;MenuItem class="rounded-2">menu item1&lt;/MenuItem>
    &lt;MenuItem class="rounded-2">menu item2&lt;/MenuItem>
    &lt;MenuItem class="rounded-2">menu item3&lt;/MenuItem>
&lt;/MenuContainer>
        </pre>
    </div>
</div>

<div class="row">
    <div class="preview-container">
        <div class="example">
            <MenuContainer>
                <UnderscoredMenuItem>menu item1</UnderscoredMenuItem>
                <UnderscoredMenuItem>menu item2</UnderscoredMenuItem>
                <UnderscoredMenuItem>menu item3</UnderscoredMenuItem>
            </MenuContainer>
        </div>
        <pre>
&lt;MenuContainer>
    &lt;UnderscoredMenuItem>menu item1&lt;/UnderscoredMenuItem>
    &lt;UnderscoredMenuItem>menu item2&lt;/UnderscoredMenuItem>
    &lt;UnderscoredMenuItem>menu item3&lt;/UnderscoredMenuItem>
&lt;/MenuContainer>
        </pre>
    </div>

    <div class="preview-container">
        <div class="example">
            <MenuContainer BackgroundColor="darkgray" ItemHoverColor="red">
                <UnderscoredMenuItem>menu item1</UnderscoredMenuItem>
                <UnderscoredMenuItem>menu item2</UnderscoredMenuItem>
                <UnderscoredMenuItem>menu item3</UnderscoredMenuItem>
            </MenuContainer>
        </div>
        <pre>
&lt;MenuContainer BackgroundColor="darkgray" ItemHoverColor="red">
    &lt;UnderscoredMenuItem>menu item1&lt;/UnderscoredMenuItem>
    &lt;UnderscoredMenuItem>menu item2&lt;/UnderscoredMenuItem>
    &lt;UnderscoredMenuItem>menu item3&lt;/UnderscoredMenuItem>
&lt;/MenuContainer>
        </pre>
    </div>
</div>

<h5>DropDown</h5>

<div class="row">
    <div class="preview-container">
        <div class="example">
            <DropDown>
                <Head>
                    Click
                </Head>
                <Content>
                    Content
                </Content>
            </DropDown>
        </div>
        <pre>
&lt;DropDown>
    &lt;Head>
        Click
    &lt;/Head>
    &lt;Content>
        Content
    &lt;/Content>
&lt;/DropDown>
        </pre>
    </div>

    <div class="preview-container">
        <div class="example">
            <DropDown Alignment="right">
                <Head>
                    <button class="btn btn-primary">Click button</button>
                </Head>
                <Content>
                    <MenuContainer BackgroundColor="darkgray" ItemHoverColor="red">                        
                        <UnderscoredMenuItem>list element list element</UnderscoredMenuItem>
                        <UnderscoredMenuItem>list element list element</UnderscoredMenuItem>
                        <UnderscoredMenuItem>list element list element</UnderscoredMenuItem>
                    </MenuContainer>
                </Content>
            </DropDown>
        </div>
        <pre>
&lt;DropDown Alignment="right">
    &lt;Head>
        &lt;button class="btn btn-primary">Click button&lt;/button>
    &lt;/Head>
    &lt;Content>
        &lt;MenuContainer BackgroundColor="darkgray" ItemHoverColor="red">                        
            &lt;UnderscoredMenuItem>list element list element&lt;/UnderscoredMenuItem>
            &lt;UnderscoredMenuItem>list element list element&lt;/UnderscoredMenuItem>
            &lt;UnderscoredMenuItem>list element list element&lt;/UnderscoredMenuItem>
        &lt;/MenuContainer>
    &lt;/Content>
&lt;/DropDown>
        </pre>
    </div>
</div>

