.row{
    display: flex;
    flex-direction: row;
}

.preview-container {
    width: 46%;
    display: flex;
    justify-content: space-between;
    border: cadetblue solid;
    border-width: 3px;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
}

pre {
    border-radius: 5px;
    background-color: lightgray;
    padding: 0.5rem;
    width: 475px;
    height: auto;
}